// Place all the styles related to the students_table controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* caption.studentstable
{ 
font-family:arial;
font-size:10pt;
background-color:#808080;
width: 600px;
border-style:solid;
border-color:black;
border-width:50px;
}*/
td.image img {
  height:30px;
}

a:link {
  color: #FFF;
}

a:visited {
  color: #A00000;
}

a:hover {
  color: #F00;
}

a:active {
  color: #0FF;
}

body {
  background-color:#000;
  color:#FFF;
}

h1 {
  color: #FFF;
  text-align:center;
}

table.studentstable {
  background-color: #000;
  margin: auto;
  border: 5px;
}

.studentstable caption {
  color: #FFF;
  font-size: 30pt;
  margin-bottom: 20px;
}

.studentstable th {
  border: 2px;
  border-color: black;
  color: white;
  font-size: 22pt;
}

tr.studentstable {
  font-size: 20pt;
}

.studentstable td {
  background-color: black;
  border-style: solid;
  border-width: 1px;
  color: white;  
  font-size: 20pt;

  padding: 0px 10px;  
  text-align: center;
}